extends layout

block content
  h1= title
  p This is for all the chips...

  div#clockdiv
    div
      span.seconds#timer
      div.smalltext Seconds

  ul.collapsible
    li
      div.collapsible-header Details
      div.collapsible-body
        p Number of slides = #{numSlides}
        p Auto advance = #{autoAdvance}
        p speed = !{speed}


  //- 6 second count down after the page loads
  script.
    var count = 6;
    var counter = setInterval(timer, 1000); //1000 will  run it every 1 second
    function timer()
    {
      count = count - 1;
      if (count <= 0)
      {
         clearInterval(counter);
         return;
      }
      document.getElementById("timer").innerHTML = count
    }


  //- after 6 seconds, replace the page with a random slide
  script.
    numSlides="#{numSlides}"
    autoAdvance="#{autoAdvance}"
    speed= !{speed}
    setTimeout(function() {

      const counter = 1

      //- redirect to /slide
      const slideRoute = '/slide?numSlides=' + numSlides + '&autoAdvance=' + autoAdvance + '&counter=' + counter + '&speed=' + speed
      window.location.href = slideRoute
    }, 6000);