extends layout

block content

  div.slide
    //- render an image
    img#renderedImage

    div.nav
      //- restart button
      button#restartButton.btn Restart
      //- next button
      button#nextButton.btn >


  //- TODO: create a new script to prevent displaying a previously shown image
  //- create an array to track the images that have been displayed so that the same image is not displayed twice
    let displayedImages = []
    displayedImages.push(randomImage)
    console.log(displayedImages)

    //- if the random image has already been displayed, pick a new random image
    while (displayedImages.includes(randomImage)) {
      randomImage = imagePaths[Math.floor(Math.random() * imagePaths.length)]
      randomImage = publicDirectoryPath + randomImage
    }

  //- script to pick a random image from the imagePaths array and render it
  script.
    //- get the imagePaths array
    imagePaths="#{imagePaths}"

    //- convert the imagePaths string to an array
    imagePaths = imagePaths.split(',')

    //- pick a random image from the imagePaths array
    let randomImage = imagePaths[Math.floor(Math.random() * imagePaths.length)]

    //- combine the random image path with the public directory path
    const publicDirectoryPath = '/images/'
    randomImage = publicDirectoryPath + randomImage


    //- TODO: prevent displaying a previously shown image


    //- render the random image
    document.getElementById("renderedImage").src = randomImage

    //- display the random image path in the imagePath div
    document.getElementById("imagePath").innerHTML = randomImage


  //- if autoAdvance is true, - every 10 seconds, reload this page and increment the counter
  script.
    numSlides="#{numSlides}"
    autoAdvance="#{autoAdvance}"
    speed="#{speed}"
    counter="#{counter}"
    imagePaths="#{imagePaths}"

    //- convert numSlides to an integer
    numSlides = parseInt(numSlides)
    //- convert speed to an integer
    speed = parseInt(speed)
    //- convert counter to an integer
    counter = parseInt(counter)

    if (autoAdvance == 'on') {

      //- if counter is greater than numSlides, redirect to /wrapUp
      if (counter > numSlides) {
        const wrapUpRoute = '/wrapUp'
        window.location.href = wrapUpRoute
      }

      setInterval(function() {
        counter = parseInt(counter) + 1
        const slideRoute = '/slide?numSlides=' + numSlides + '&autoAdvance=' + autoAdvance + '&counter=' + counter + '&speed=' + speed + '&imagePaths=' + imagePaths + '&displayedImages=' + displayedImages

        window.location.href = slideRoute
      }, speed)
    }

  //- if restart button is clicked, navigate back to the landing
  script.
    document.getElementById("restartButton").onclick = function() {
      const landingRoute = '/'
      window.location.href = landingRoute
    }


  //- if next button is clicked, reload this page and increment the counter
  script.
    document.getElementById("nextButton").onclick = function() {
      counter = parseInt(counter) + 1
      const slideRoute = '/slide?numSlides=' + numSlides + '&autoAdvance=' + autoAdvance + '&counter=' + counter + '&speed=' + speed + '&imagePaths=' + imagePaths

      window.location.href = slideRoute
    }






